<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268421164574-gsekfve278hqdbt8eij01ghvqg68qvu2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268421164574-gsekfve278hqdbt8eij01ghvqg68qvu2</string>
	<key>API_KEY</key>
	<string>AIzaSyAT-uszhVDs_7Sb9eqGBEmJURicF43W0FI</string>
	<key>GCM_SENDER_ID</key>
	<string>268421164574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fl3.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>buy-it-e37d8</string>
	<key>STORAGE_BUCKET</key>
	<string>buy-it-e37d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268421164574:ios:efc13076dac2599bc1080f</string>
</dict>
</plist>